<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{ helmet.title.toString() }}
    {{ helmet.meta.toString() }}
    {{ helmet.link.toString() }}
    {{ helmet.script.toString() }}
    {{ helmet.noscript.toString() }}
    {{ helmet.style.toString() }}
    <link rel="stylesheet" type="text/css" href="{{ styles }}">
  </head>
  <body {{ helmet.bodyAttributes.toString() }}>
    <div id="app">{{ html }}</div>
    <script>
      window.__PRELOADED_STATE__ = {{ state }};
    </script>
    <script src="{{ script }}"></script>
  </body>
</html>
